spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/trello_db
    username: postgres
    password: YOUR_PASSWORD_HERE
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
server:
  port: 8080
